/* default css for non-documentation popups */
br {
	margin-bottom: 0.20rem;
}
.icon {
	text-decoration: none;
	font-size: 1em;
}
.variable {
	font-size: 1.0rem;
	color: rgb(150, 150, 150);
}
.codebox {
    border: 2px solid rgb(5, 5, 5);
    border-style: groove;
    background-color: rgb(40, 40, 40);
    white-space: pre-line;
    padding: 5px;
    padding-bottom: 20px;
    display: inline-block;
    font-family: "Courier New", Courier, monospace;
}
.box-for-codebox {
	margin-bottom: 22px;
}
.codedesc {
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 2px;
	margin-bottom: 2px;
}
.code {
	font-family: monospace;
}
.code-header {
	margin-left: 5px;
	font-weight: bold;
}
.blockquote {
	font-size: 1.5em;
	font-style: italic;
	color: #555;
	border-left: 4px solid #ccc;
	padding-left: 10px;
	margin: 20px 0;
}
/* Monokai color scheme text colors */
.red-text {
	color: hsl(0, 93%, 59%);
}
.yellow-text {
	color: hsl(54, 70%, 68%);
}
.blue-text {
	color: hsl(170, 60%, 56%);
	font-style: italic;
}
.green-text {
	color: hsl(80, 76%, 53%);
}
.orange-text {
	color: hsl(32, 98%, 56%);
}
.purple-text {
	color: hsl(261, 100%, 75%);
}